@import "reset";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../lib/bootstrap-star-rating/css/star-rating.css";
@import "../../lib/bootstrap-star-rating/css/theme-krajee-svg.css";

$justEatRed: #CE0B10;

body {
  background: #EEEEEE;
  color: #666666;
 }

a {
	color: #1DA1F2;
}

#search-box {
	background: $justEatRed;
	color: #fff;
	padding-bottom: 1em;
}

#search-results {
	background: #FFFFFF;
}

#search-empty-results {
    padding: 1em;
}

.restaurant {

	padding: 1em 0;
	border-bottom: 1px solid #F0F0F0;

	&.is-open-now {
		opacity: 1;
	}

	&.is-not-open-now {
	    background-color: #FBDDDD;
	    border-color: #FBC2C2;
	}

	.name {
		font-size: 1.5em;
	}

	.rating-container,
	.rating-text {
		display: inline-block;
		vertical-align: middle;
	}

	.rating {
		opacity: 0;
	}

	.rating-container .rating {
		opacity: 1;
	}

	.rating-disabled .rating,
	.rating-container .star {
		cursor: default;
	}

	.cousine-type {
		display: inline-block;
		padding: 0 4px;
	}
}

.btn-default {
    background: #fec752;
    border-color: #fec752;
    color: #333;
    line-height: 1.429;
}